<div class="landing_container">
  <div class="landing_div">
    <h1>Feline Friends-y</h1>
    <%= link_to "Rent a random cat", carts_path(cat_id: Cat.random_cat), class: "button btn", method: :post %>
    <%= link_to "All the cats", cats_path, class: "button btn" %>
  </div>
</div>
