<div class="landing_container">
  <div class="landing_div">
    <h1>Feline Friends-y</h1>
    <%= link_to "Rent a random cat", "#", id: "crusted_mud", class: "button btn" %>
    <%= link_to "All the cats", cats_path, id: "crusted_mud", class: "button btn" %>
  </div>
</div>
