<div>
  <h3>The page you were looking for doesn't exist.</h3>
  <p>You may have mistyped the address or the page may have moved.</p>
  <% image = "http://57.media.tumblr.com/tumblr_lrbu1l9BJk1qgzxcao1_250.gif" %>
  <%= image_tag image, class: "error_image"%>
</div>
