<div class="container">
  <h4>Your Profile</h4>
  <p>Name: <%= current_user.name %> </p>
  <p>Address: <%= current_user.format_address %> </p>
  <%= link_to "Edit", edit_user_path(current_user) %>
  <h4>Your Orders</h4>
  <%= render "partials/each_order" %>
</div>
